{% block body %}
    <h1>
        <a href="{{ generatedUrl }}">Home work additional 1: {{ generatedUrl }}</a>
    </h1>

    <h1>
        <a href="{{ path(action, {onlyLetters: onlyLetters})}}">Home work additional 3. </a>
    </h1>
{% endblock %}

{% block title %}

{% endblock %}

